@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin-fast {
  100% { transform: rotate(360deg); }
}
.animate-spin-fast {
  animation: spin-fast 1s linear infinite;
}

.custom-base-accent {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: bold;
  color: rgb(234 169 29); /* #EAA91D */
}
